* {
    box-sizing: border-box;
    font-family: 'Helvetica' ,'Lato', sans-serif;
}

body {
    margin: 0;
    background: white;
    box-sizing: border-box;
    color: black;
  }
#header {
    background: rgb(61, 60, 60);
    color: white;
    display: flex;
}
.logo {
    width: 60vw;
  }

  .forecastcoloumn {
      display: flex;
      flex-direction: column;
  }
  .page-container {
      
  }